{% load static %}

{% block body %}

{% if userGrade == "manager"%}
{% include 'manager_navigation.html'%}
{% elif userGrade == "resourcer" %}
{% include 'resourcer_navigation.html' %}
{% endif %}


<form class="container mt-5" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Project Title</label>
            <input type="text" class="form-control" name="projectTitle" placeholder="Enter the title of the project" required />
        </div>
        <div class="form-group col-md-6">
            <label>Role Title</label>
            <input type="text" class="form-control" name="roleTitle" placeholder="Enter the title of the role" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Line of Service</label>
            <select name="los" id="los" required>
                <option value="Tax">Tax</option>
                <option value="Assurance">Assurance</option>
                <option value="Consulting">Consulting</option>
                <option value="Deals">Deals</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Base Office</label>
            <select name="location" id="location" required>
                <option value="Leeds">Leeds</option>
                <option value="Manchester">Manchester</option>
                <option value="Birmingham">Birmingham</option>
                <option value="London More London">London More London</option>
                <option value="London Embarkment">London Embarkment</option>
            </select>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="grade">Grade</label>
                <select name="grade" id="grade" required>
                    <option value="Trainee">Trainee</option>
                    <option value="Associate">Associate</option>
                    <option value="Senior Associate">Senior Associate</option>
                    <option value="Manager">Manager</option>
                    <option value="Senior Manager">Senior Manager</option>
                    <option value="Director">Director</option>
                    <option value="Partner">Partner</option>
                    <option value="Resourcer">Resourcer</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Start Date</label>
            <input type="date" class="form-control" name="startDate" placeholder="Enter the start date" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>End Date</label>
            <input type="date" class="form-control" name="endDate" placeholder="Enter the end date" required />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Description</label>
            <textarea type="text" class="form-control" name="description" required></textarea>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>Skills Required</label>
            <input type="text" class="form-control" name="skills" placeholder="Salesforce, Microsoft Suite, Excel, etc." required />
        </div>
    </div>
    <input type="submit" value="Add Role" class="btn btn-primary" style="margin-top:2%;color:white;background-color:darkorange;height:40px;font-size:15px" " />
</form>
{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Project Role was added successfully!");
    window.location = ("{% url 'roles_listed' %}")
</script>
{% elif error == "yes" %}
<script>
    alert("Something went wrong try again!");
</script>
{% endif %}

{% endblock %}