{% load static %}

{% block body %}

{% include 'navigation.html' %}

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Email</b></label>
    <input type="email" class="form-control" name="email" placeholder="Enter your Email">
    <label><b>Password</b></label>
    <input type="password" class="form-control" name="password" placeholder="Enter your Password">
    <input type="submit" value="Login" class="btn btn-primary" style="margin-top:2%;color:white;background-color:darkorange;height:40px;font-size:15px">

    <a href="{% url 'user_signup' %}" class="btn btn-primary" style="margin-top:2%;color:white;background-color:darkorange;height:40px;font-size:15px"> Register here</a>
</form>
{% include 'footer.html' %}

{% if error == "no" %}
<script>
    alert("Login was successfull!");
    window.location = ("{% url 'resourcer_home' %}")
</script>
{% elif error == "yes" %}
<script>
    alert("Invalid Login Credentials, Try again!");
</script>
{% endif %}

{% endblock %}
